.header_wrap{position:sticky;z-index:2;top:0px; height:127px;margin-top:19px;}
	header{min-width:500px;height:92%;padding:0% 1.5% 0%; }
	.header_hoop{width:80%;}
	.header_hoop{border-top:2px solid lightgray;height:8%;}
	.menu,.ico_link_container{display:flex;flex-shrink:4;}
	.menu,.ico_link_container,header{justify-content:space-between;}
   .mnu_links,.slider_pic_link_box{text-transform: uppercase;}
header, .logo,.menu,.ico_link_container	{align-items:center;}
	.logo,.menu,.ico_link_container	{height:29px;}						    
		.logo{width:128px;font-weight:700;margin-left:4px;}
		.menu{width:332px;}
		.mnu_links{flex-shrink:0;}  
	        .mnu_links:focus{font-weight:900;text-decoration:underline;}
							    .spc_39{width:39px;}   .spc_74{width:74px;}
				     .spc_109{width:109px;} .spc_30{width:30px;}
	.ico_link_container{width:121px;}
		.menu_ico,.cart_bage,.slider_pic_link_box,.slider_pic_link_arrow{cursor:pointer;}
		       .icon_link,.menu_ico{flex-shrink:0;width:17px;height:17px;}
		/* icons selection circle when focused */
		       .icon_link{border:1px solid transparent;}
		       .icon_link:hover .menu_ico{transform:scale(0.67);}
	    	       .icon_link:hover{transform:scale(1.5);border-radius:50%;border:1px solid pink;}
		       .icon_link:hover .cart_bage{	  bottom:-10px;
						   background-color:green;transform:scale(0.67);   right:-10px;	}
	
			.cart_bage{position:absolute;	display:none; 		bottom:-7px;	
				   height:15px;width:15px;border-radius:50%;	right:-7px;				      						
				   background-color:red;	font-weight:600;	color:white;
				   transition:transform;transition-duration:1000ms;}