*::selection{background-color:transparent;}
*{background-color:transparent;text-underline-position:under;padding:0px;margin:0px;
  cursor:default;}
a,.sidebarItem{cursor:pointer;}
a{text-decoration:none;color:black;}
.flex_centr{justify-content:center;align-items:center;}
.blok_centr,header,footer,.sidebarTextBlock{margin:0px auto 0px;}
	    header,footer,main,.sidebarItem,.sibarMark,.goodsBlock{display:flex;}